body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('bggallery.png');
    background-size: cover;
    background-position: center;
}

.gallery-container {
    width: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-title {
    font-size: 1.6em;
    color: rgb(88, 86, 86);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: flex;
    animation: scroll 50s linear infinite;
    align-items: center;
}

.gallery img {
    width: 220px; /* Sesuaikan lebar gambar di sini */
    height: 165px; /* Sesuaikan tinggi gambar di sini */
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.location-map {
    width: 800px; /* Sesuaikan lebar gambar peta di sini */
    height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
    margin-top: 30px; /* Atur jarak antara galeri dan peta */
}